<%= form_with(model: marketing_product, local: true) do |form| %>
  <% if marketing_product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(marketing_product.errors.count, "error") %> prohibited this marketing_product from being saved:</h2>

      <ul>
        <% marketing_product.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <%= render partial: "products_view" %>

  <% if @product %>
    <%= form.hidden_field :product_id, value: @product.id %>
  <% else %>
    <%= form.collection_select(:product_id,  Product.is_unapproved,  :id, :name) %>
  <% end %>

  <div class="form-group">

    <%= form.label :availability_date %>
    <%= form.search_field :availability_date, class: "form-control border", type: "date" %>

    <%= form.label :first_order_date %>
    <%= form.search_field :first_order_date, class: "form-control border", type: "date" %>

    <%= form.label :first_ship_date %>
    <%= form.search_field :first_ship_date, class: "form-control border", type: "date" %>

    <%= form.label :product_description %>
    <%= form.text_field :product_description, class:'form-control' %>

    <%= form.label :product_description_french %>
    <%= form.text_field :product_description_french, class:'form-control' %>

    <%= form.label :serving_description %>
    <%= form.text_field :serving_description, class:'form-control' %>

    <%= form.label :serving_description_french %>
    <%= form.text_field :serving_description_french, class:'form-control' %>

    <%= form.label :ingredients_description %>
    <%= form.text_field :ingredients_description, class:'form-control' %>

    <%= form.label :ingredients_description_french %>
    <%= form.text_field :ingredients_description_french, class:'form-control' %>

    <%= form.label :benefits_description %>
    <%= form.text_field :benefits_description, class:'form-control' %>

    <%= form.label :benefits_description_french %>
    <%= form.text_field :benefits_description_french, class:'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit "Submit", class:'btn btn-primary' %>
    <% if @product %>
      <%= link_to "reject product", marketing_product_reject_path(@product), class: 'btn btn-danger', style: 'color: #fff' %>
    <% end %>
  </div>


<% end %>
