<p id="notice"><%= notice %></p>

<h1>Marketing Products</h1>

<table>
  <thead>
    <tr>
      <th>First order date</th>
      <th>First ship date</th>
      <th>Availability date</th>
      <th>product_description</th>
      <th>Serving description</th>
      <th>Ingredients description</th>
      <th>Benefits description</th>
      <th>User</th>
      <th>Product</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @marketing_products.each do |marketing_product| %>
      <tr>
        <td><%= marketing_product.first_order_date %></td>
        <td><%= marketing_product.first_ship_date %></td>
        <td><%= marketing_product.availability_date %></td>
        <td><%= marketing_product.product_description %></td>
        <td><%= marketing_product.serving_description %></td>
        <td><%= marketing_product.ingredients_description %></td>
        <td><%= marketing_product.benefits_description %></td>
        <td><%= marketing_product.user %></td>
        <td><%= marketing_product.product %></td>
        <td><%= link_to 'Show', marketing_product %></td>
        <td><%= link_to 'Edit', edit_marketing_product_path(marketing_product) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Marketing Product', new_marketing_product_path %>
