<div class="container">
  <p id="notice"><%= notice %></p>
    <%= render partial: 'product_list', locals: { product: @product } %>

    <% if @parent_product %>
    <h4 style="text-align: center">Parent GTIN</h4>
    <%= render partial: 'product_list', locals: { product: @parent_product } %>
    <% end %>

    <% if @children_products.length > 0 %>
      <h4 style="text-align: center">Child GTIN</h4>
        <% @children_products.each do |product| %>
          <%= render partial: 'product_list', locals: { product: product } %>
        <% end %>
    <% end %>

    <%= link_to 'Edit', edit_product_path(@product) %> |
    <%= link_to 'Back', products_path %>
</div>