<style>

  html,
  body {
    height: 80%;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
  }

  th,
  td {
    padding: 15px;
    background-color: rgba(255,255,255,0.2);
    text-align: center;
  }

  th {
    text-align: center;
  }
  th {
    background-color: #55608f;
    color: white;
  }
</style>

<div class="container">
<p id="notice"><%= notice %></p>
<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Product Type</th>
    <th>Parent GTIN</th>
    <th>GTIN Number</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><%= @product.try(:name) %></td>
    <td><%= @product.try(:product_type) %></td>
    <td><%= @product.try(:parent_gtin) %></td>
    <td><%= @product.try(:gtin) %></td>
  </tr>
  </tbody>
</table>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
</div>